/* Use more specific reset for better performance */
html, body {
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
   color: aliceblue;
   padding: 25px;
   margin:20px;
}
nav ul,
nav li,
nav h1 {
    display: inline;
    padding-top: 5px;
}
nav ul {
    margin-left: 60%;
}
nav li {
    cursor: pointer;
    color: grey;
}
nav li:hover {
    color: white;
}
input{
    padding: 5px;
    width: 40%;

}
.searchbar{
    padding: 50px;
    text-align: center;
}
.middle {
    border: 2px solid black;
    margin: 20px;
    
    display:  inline-block;
    background-color: #f5f5f5; /* optional light background */
    border-radius: 10px; 
    width: 220px;
         /* optional rounded corners */
}
.product{
    text-align: center;
}
.middle:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.lower {
    color: #000;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.contact {
    background-color: #000;
    color: #fff;
    text-align: center;
}
